<h1>Welcome to Raindance</h1>
<center><%=link_to "Create a New Post", new_post_path %></center>
<% @posts.each do |post| %>
<h2><%=post.title %></h2>
<div><%=truncate(post.body, :length => 35) %></div>
<br>
<%=link_to "Read Post", post %> &nbsp

<% end %>
